.formPago{
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputPago{
    padding: 7px;
    border: 1px solid rgba(36, 28, 28, 0.14);
    border-radius: 8px;
}

.inputPago:focus {
    outline: none;
    border: 1px solid #4658F8;
}

.label{
    margin-top: 8px;
    font-size: 14px;
}

.desabilitado{
    text-align: center;
    margin-top: 20px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none !important;
    background: linear-gradient( 105.3deg,  rgba(30,39,107,1) 21.8%, rgba(77,118,221,1) 100.2% );
    background: grey;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    transform: scale(1.0);
    transition: .7s;
    border: 2px solid grey;
}

.errorInput{
    color: red;
    font-style: italic;
}