.caja {
  background-color: #4658f8;
  height: 100vh;
  margin: 0;
  align-content: center;
}

.tituloGracias {
  text-align: center;
  color: #fff;
}

.numOrden {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.italic {
  font-style: italic;
}

.btnVolverHome {
  margin-top: 20px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none !important;
  background: linear-gradient(
    105.3deg,
    rgba(30, 39, 107, 1) 21.8%,
    rgba(77, 118, 221, 1) 100.2%
  );
  background: #2a2a2a;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  transform: scale(1);
  transition: 0.7s;
  border: 2px solid #2a2a2a;
}
