.banner{
    margin-top: 10%;
}

.Titulo{
    text-align: center;
    color: #123C5E;
}

.subTitulo{
    text-align: center;
    font-weight: 400;
}

.foto{
    margin-top: 40px;
    width: 60% !important;
}

@media (min-width: 768px) {
    .banner{
        margin-top: 5%;
    }

    .Titulo{
        text-align: start;
    }

    .subTitulo{
        text-align: start;
    }

    .foto{
        margin-top: 0px;
        width: 30% !important;
    }
}